.footer__column_content_copyright {
    min-height: 250px;
    width: 50%;
    margin-top: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 } 