.kaufman__triangle {
    width: 867px;
    height: 637px;
    background-image: url("/images/kaufman-triangle.svg");
    position: absolute;
    background-size: cover;
    margin-top: 0px;
    right: -210px;
    z-index: 0;
  }